@import 'https://fonts.googleapis.com/css?family=Raleway';

.borderYtoX
{
  font-family: Raleway;
  text-align: center;
  list-style-type: none;
  border: 1px solid red;
}

.borderYtoX a
{
    color: #FFF;
    border: 1px solid red;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    float: right;
    cursor: pointer;
}

/* Border from Y to X  */
.borderYtoX a:before, .borderYtoX a:after
{
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

.borderYtoX a:before
{
    left: 0px;
    top: 0px;
}

.borderYtoX a:after
{
    right: 0px;
    bottom: 0px;
}

.borderYtoX a:hover:before, .borderYtoX a:hover:after
{
    opacity: 1;
    height: 2px;
    width: 100%;
}
