body{
  background: linear-gradient(
      rgba(18, 26, 29, 0.14),
      rgba(27, 46, 54, 0.6)
    ),url('../assets/home-banner.jpg');
  background-attachment:fixed;
  background-size:cover;
}

#top-navbar li{
  margin-right: 10px;
}

#home-search{
  margin-top: 250px;
}

#tes{
  width:90%;
}

#fpass-form input{
  height: 60%;
  width: 90%;
  margin-left:15px;
  border-radius:10px 0 0 10px;
  float:left;
}
#fpass-form select{
  border: 1px solid red;
  color: #61c79a;
}

#search-button{
  width: 8%;
  height: 80%;
  color:white;
  background-color:#1d1d1d;
  border-radius:0 10px 10px 0;
  margin-top:1.475px;
}

#search-button:hover{
  color:grey;
}

#optionDropDown{
  margin-left:15px;
}
