body
{
    background: #EAEAEA;
    padding-bottom: 20px;
}

.container
{
	border-radius: 25px;
}

img
{
    box-shadow: grey 2px 4px 6px;
    width: 350px;
    height: 100%;
    margin-bottom: 5px;
}

#headingOne,#headingTwo,#headingThree,#headingFour,#headingFive,#headingSix
{
    background-color: #3a6ef2;
}

h5 button
{
    color: white;

}

.modal-body2{
    width: 100%;
    /*height: 100%;*/
    overflow: auto;
}

#dropzone {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
