#search-select2{
  width: 700px;
  overflow-y: auto;
}

#search-btn{
  background: rgb(0, 133, 255);
}

#category-btn{
  background: rgb(255, 153, 0);
  height: 45px;
}

.select2-selection__rendered {
  line-height: 35px !important;
}

.select2-selection {
  height: 45px !important;
}

.search-result-container{
  background: rgb(210, 210, 210);
}
