body
{ 
    background: url('../assets/officefront.jpg');
    background-attachment:fixed;
    background-size:cover;
}

hr
{
    border: 3px dotted;
}

*[role="form"] 
{
    max-width: 600px;
    padding: 15px;
    background-color: #4a4c4b;
    border-radius: 0.4em;
    color:white;
    margin:40px auto;
}

h2
{
    text-align:center;
    font-weight:bold;
    font-size:50px;
    font-family: impact;
    letter-spacing:1px;
    color: white;
}
