@import 'https://fonts.googleapis.com/css?family=Raleway';

.borderYtoX{
  background: rgba(48, 50, 51, 0.56);
  padding-top: 20px;
  padding-bottom: 20px;
}

.borderYtoX ul
{
  font-family: Raleway;
  text-align: center;
  list-style-type: none;
}

.borderYtoX a
{

    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font: 18px Raleway;
    margin: 0px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

/* Border from Y to X  */
.borderYtoX a:before, .borderYtoX a:after
{
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

.borderYtoX a:before
{
  left: 0px;
  bottom: 0px;
}

.borderYtoX a:after
{
  left: 0px;
  top: 0px;
}

.borderYtoX a:hover{
  color: rgb(0, 247, 255);
}

.borderYtoX a:hover:before, .borderYtoX a:hover:after
{
    opacity: 1;
    background: rgb(0, 247, 255);
    height: 2px;
    width: 100%;
}

.popupunder{
    width: 300px;
	position:fixed;
	top: 10px;
	right: 10px;
	z-index: 10;
	border: 0;
	padding: 20px;
}
.popupunder.alert-success{
    border: 1px solid #198b49;
	background:#27AE60;
	color:#fff;
}
.popupunder .close{
	font-size: 10px;
	position:absolute !important;
	right: 2px;
	top: 3px;
}

.scroll-up{
  width: 40px;
  height: 43px;
  bottom: 25px;
  right: 25px;
  position: fixed;
  background-color: rgb(58, 59, 54);
  text-align: center;
  border-radius: 2px;
  color: #ffffff;
  font-size:35px;
  z-index: 10000 !important;
  visibility: hidden;
}
